<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table>

  <tbody>
  <% if @comments != []%>
    <% @comments.zip(@users).each do |comment, user|%>
      <tr>
        <td><%= user.username %> says: </td>
        <td><%= comment.content %></td>
      </tr>
    <% end %>

  <% else %>
  <p>This event doesn't have any comments</p>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back',  event_path(@events)%>