<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table>

  <tbody>
  <% @comments.zip(@users).each do |comment, user|%>
    <tr>
      <td><%= user.username %> says: </td>
      <td><%= comment.content %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back',  event_path(@comments.first.event)%>