<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<div class="card">
  <ul class="list-group list-group-flush">
  <% if @comments != []%>
    <% @comments.zip(@users).each do |comment, user|%>
      <tr>
        <li class="list-group-item"><%= user.username %> says: <%= comment.content %></li>
    <% end %>

  <% else %>
  <p>This event doesn't have any comments</p>
  <% end %>
  </ul>
</div>

<br>
<%= link_to 'Back',  event_path(@events)%>