<h1>My Events</h1>
<br>
<h3>My Created Events</h3>

<% if @events != []%>
  <div class="row">
    <% @events.each do |event| %>
      <%= render partial: 'event_tile', locals: { event: event, a: "my_events"} %>
    <% end %>
  </div>
<%else %>
  <p>You have not create an event yet :(</p>
<% end %>

<br>

