<h1>My Events<%= link_to 'Create New Event', new_user_event_path(current_user.id), class:"btn btn-info btn-sm mx-3"  %></h1>
<br>
<h3 class="mb-4">My Created Events</h3>

<% if @events != []%>
  <div class="row">
    <% @events.each do |event| %>
      <%= render partial: 'event_tile', locals: { event: event, a: "my_events"} %>
    <% end %>
  </div>
<%else %>
  <p>You have not create an event yet :(</p>
<% end %>

<br>

