<h1>My Upcoming Events</h1>
<br>


<% if @event_invitations != []%>
  <div class="row">
    <% @event_invitations.each do |event| %>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= event.title %></h5>
            <p class="card-text">
              <%= event.location %>
              <br>
              <%= event.created_at %>
            </p>
            <a href="<%= event_path(event.id) %>" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<%else %>
  <p>You haven't been invited to an event yet :(</p>
<% end %>

<br>

