
<h1>Organizations Memberships</h1>
<br>
  <tbody>
  <% if @invitation != [] %>
    <div class="row">
      <% @invitation.each do |organization| %>
        <%= render partial: 'organizations/organization_tile', locals: { organization: organization, a: "organization_member"} %>
      <% end %>
    </div>
  <%else %>
    <p>You have not create an organization yet</p>
  <% end %>

<br>

