
<h1>My Organizations</h1>
<br>
<tbody>
<h3>My Created Organizations</h3>
<% if @organizations != []%>
  <div class="row">
    <% @organizations.each do |organization| %>
      <%= render partial: 'organization_tile', locals: { organization: organization, a: "my_organizations"} %>
    <% end %>
  </div>
<%else %>
  <p>You have not create an organization yet</p>
<% end %>

<br>
<h3>Organization where I am admin</h3>
<% if @admin != []%>
  <div class="row">
    <% @admin.each do |organization| %>
      <%= render partial: 'organization_tile', locals: { organization: organization, a: "my_organizations"} %>
    <% end %>
  </div>
<% else %>
  <p>You are not admin of any organization :(</p>
<% end %>





</tbody>
