
<h1>My Organizations<%= link_to 'Create New Organization', new_user_organization_path(current_user.id), class:"btn btn-info btn-sm mx-3"%></h1>
<br>
<h3 class="mb-4">My Created Organizations</h3>
<% if @organizations != []%>
  <div class="row">
    <% @organizations.each do |organization| %>
      <%= render partial: 'organization_tile', locals: { organization: organization, a: "my_organizations"} %>
    <% end %>
  </div>
<%else %>
  <p>You have not create an organization yet</p>
<% end %>

<br>
<h3>Organization where I am admin</h3>
<% if @admin != []%>
  <div class="row">
    <% @admin.each do |organization| %>
      <%= render partial: 'organization_tile', locals: { organization: organization, a: "my_organizations"} %>
    <% end %>
  </div>
<% else %>
  <p>You are not admin of any organization :(</p>
<% end %>





</tbody>
